## .NET
obj/
bin/
*.pdb
*.db

## Visual Studio
.vs/
*.user
*.suo
*.userosscache

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio cache/options directory
.vs/

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
.vscode/

# Fody
*.xsd
obj/
